<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sneakers Store</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
    
  <header>
    <div class="logo">
      <img src="logo.jpg" alt="Logo Sneakers Store">
      <h1>Sneakers Store</h1>
    </div>
    <nav>
        <a href="assistente.html" class="menu-btn">Assistente</a>
         <a href="LOGIN.HTML" class="menu-btn">Login</a>
        <a href="carrinho.html">Carrinho</a>
        <a href="cadastro.html">Cadastro</a>
     
  </header>
  <main>
    <section class="banner">
      <div class="banner-content">
        <h1>NIKE AIR MAX TERRASCAPE 90</h1>
        <button>VER MAIS →</button>
      </div>
      <img src="https://www.jotagestore.com.br/cdn/shop/products/IMG_3157.jpg?v=1687371009" alt="Nike Air Max Terrascape 90">
    </section>
    <section class="products">
      <div class="product">
        <img src="https://imgcentauro-a.akamaihd.net/1366x1366/98840051.jpg" alt="Nike SB Dunk Low">
        <p>NIKE SB DUNK LOW "WHAT THE DUNK"</p>
        <span>R$ 599,00</span>
      </div>
      <div class="product">
        <img src="https://authenticfeet.vtexassets.com/arquivos/ids/410772-800-800?v=638460366290500000&width=800&height=800&aspect=true" alt="Air Jordan 1 Mid">
        <p>AIR JORDAN 1 MID MASCULINO</p>
        <span>R$ 1.234,99</span>
      </div>
      <div class="product">
        <img src="https://assets.multiplan.com.br/Multiplan/filer_public/f1/18/f118c45e-67f0-428b-9eeb-7438f5839ae2/air-max-tn-plus-22533.jpgitokmi6cu7vf?ims=1920x" alt="Nike Air Yeezy 2">
        <p>NIKE AIR YEEZY 2 "PURE PLATINUM"</p>
        <span>R$ 2.481,61</span>
      </div>
    </section>
  </main>
</body>
</html>


<script src="scripts.js"></script>